{% extends "layout.html" %}

{% block title %}
    Quote Stock Prices
{% endblock %}

{% block main %}
<h1>Buy stocks</h1>
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of Stocks" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}