{% extends 'base.html' %}
{% block title %}
    <title>Support Ukraine | Ukraine 101</title>
{% endblock %}

{% block additional-style %}
<link rel="stylesheet" href="/static/css/support-ukraine.css" />
    {% endblock %}

{% block top %}<div class="landing-page-top-container" style="background-image: url('https://d28j9ucj9uj44t.cloudfront.net/uploads/2020/02/GettyImages-1128254585-1024x683.jpg');">{% endblock %}

{% block content %}
<div class="support-ukraine-hero">
            <h2 class="support-ukraine-heading heading">Support Ukraine</h2>
          </div>
        </div>
        <div id="main-section" class="support-ukraine-main">
          <div class="support-ukraine-banner">
            <img
              alt="image"
              src="https://kindchallenge-app-dev-kindchallengeappbucket-1lbxi5q7lnwta.s3-eu-west-1.amazonaws.com/300px-Come.back.alive.jpg"
              class="support-ukraine-image1"
            />
            <div class="support-ukraine-container3">
              <h1 class="support-ukraine-text09">
                <span>Come Back Alive Foundation</span>
              </h1>
              <span class="support-ukraine-text11">
                <span>
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    non volutpat turpis, ut tincidunt lectus. Mauris luctus
                  </span>
                  <span></span>
                </span>
                <span>
                  rutrum mi ut rhoncus. Integer in dignissim tortor, id egestas
                  ante. Proin at enim purus. Mauris ut felis nisi.
                </span>
              </span>
              <div class="solid-button-container" style="margin-top: 2rem">
                <button class="solid-button-button button">
                  <span>Donate</span>
                </button>
              </div>
            </div>
          </div>
          <div class="support-ukraine-banner1">
            <div class="support-ukraine-container4">
              <h1 class="support-ukraine-text16">
                <span>Come Back Alive Foundation</span>
              </h1>
              <span class="support-ukraine-text18">
                <span>
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    non volutpat turpis, ut tincidunt lectus. Mauris luctus
                  </span>
                  <span></span>
                </span>
                <span>
                  rutrum mi ut rhoncus. Integer in dignissim tortor, id egestas
                  ante. Proin at enim purus. Mauris ut felis nisi.
                </span>
              </span>
              <div class="solid-button-container" style="margin-top: 2rem">
                <button class="solid-button-button button">
                  <span>Donate</span>
                </button>
              </div>
            </div>
            <img
              alt="image"
              src="https://kindchallenge-app-dev-kindchallengeappbucket-1lbxi5q7lnwta.s3-eu-west-1.amazonaws.com/300px-Come.back.alive.jpg"
              class="support-ukraine-image2"
            />
          </div>
        </div>
{% endblock %}
